/* --nav--*/
.nav {
    .nav-link{
        position: relative;
        &::before{
            content:"";
            position: absolute;
            width: 4px;
            height: 90%;
            background: $success;
            left: -2rem;
            top: 50%;
            transform: translateY(-50%) scale(0);
            transition: 0.3s;
        }
        &:hover::before{
            transform:  translateY(-50%) scale(1);
        }
    }
    
    .nav-link-text{
        vertical-align: middle;
        padding-left: 1rem;
    }
}

.nav-aside{
    width: 296px;
    position: fixed;
}

main{
    margin-left: 296px;
}