.add-new-admin::before{
    content:"add";
    font-family: 'Material Icons';
    font-size: 24px;
    color: $success;
    vertical-align: middle;
    padding-right: 8px;
}

.material-icons-arrow_downward{
    font-size: 12px;
    color: $success;
    vertical-align: middle;
    padding-left: 7px;
}

.btn-verification{
    border-color: $gray-400;
    &:disabled{    
        color: $gray-400;
    }
}

.message-verification::before, .message-deactivate::before{
    content:"report_problem";
    font-family: 'Material Icons';
    font-size: 24px;
    color: $danger;
    vertical-align: middle;
    padding-right: 9px;
}
.message-verification::before{
    font-weight: normal;
}

.verified::before{
    content:"check_circle";
    font-family: 'Material Icons';
    font-size: 24px;
    color: $success;
    vertical-align: middle;
    padding-right: 9px;
    font-weight: normal;
}

// admin > visibility > expand
.admin-expand{
    display: none;
    padding-top: 32px;
}

.admin-pagination > .page-item{
    width: 32px;
    text-align: center;
    > .text-success:hover{
        color: $white !important;
    }
}