<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %> - ANSWER</title>
  <link rel="icon" href="./assets/images/logo-ANSWER.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="d-flex">
  <div class="d-flex flex-column justify-content-between min-vh-100 w-23 ps-4 bg-light py-4">
    <div>
      <a href="index.html"><img src="./assets/images/logo-ANSWER.svg" alt="logo-ANSWER"></a>
      <ul class="nav flex-column mt-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons">assessment</span><span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="material-icons">question_answer</span><span class="nav-link-text">Question</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <span class="material-icons">assignment</span><span class="nav-link-text">Assignment</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> 
            <span class="material-icons">video_library</span><span class="nav-link-text">Course</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Admin.html">  
            <span class="material-icons">supervisor_account</span><span class="nav-link-text">Admin</span>          
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">  
            <span class="material-icons">settings</span><span class="nav-link-text">Settings</span>          
          </a>
        </li>
      </ul>    
    </div>
    
    <div class="card d-flex border-0 bg-transparent">
      <div class="row g-0">
        <div class="col d-flex justify-content-center align-items-center user-pic">
          <img src="./assets/images/andychen.jpg" class="img-fluid rounded-circle" alt="user_pic">
        </div>
        <div class="col">
          <div class="card-body py-0">
            <h1 class="card-title fs-6 fw-bold secondary">Andy Chen</h1>
            <p class="card-text fs-s text-muted">andy0401@mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%- contents %>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
  <script src="./assets/js/all.js"></script>
  
</body>

</html>