html{
  // font-size: 16px;
  line-height: 1.5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.5;
  margin-bottom: 0;
}

p{
  margin: 0;
}

code{
  font-family: 'Roboto Mono', serif;
  color: $success;
}

// fieldset{
//   padding-top: $spacer*0.5 ;
//   padding-bottom: $spacer*1.5;
// }

hr{
  margin: 24.5px 0;
}