.material-icons{
    vertical-align: middle;
    font-size: 24px;
}

.fs-sm{
    font-size: 12px;
    line-height: 18px;
}

.fs-s{
    font-size: $small-font-size; //14px
}

.lh-xl{
    line-height: 2.25;
}

.btn-icon{
    font-size: 24px;
    padding: 0 12px;
}

.btn-custom,.btn-comment{
    font-weight: bold;
    padding: 8px 32px;
}

.d-custom-none{
    display: none;
}

.d-custom-flex{
    display: flex;
}

.form-label{
    font-size: 14px;
    margin-bottom: 4px;
}

.modal-footer{
    padding-right: 32px;
    padding-left: 32px;
    gap: 16px;
    > *{
        margin: 0;
    }
}

.user-pic{
    flex:0 0 40px ;
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position:0 20%;
    }
    &-admin{
        flex:0 0 141px ;
        img{
            height: 141px;
            object-fit: cover;
            object-position: 50% 0;
        }
    }
}

.pa-4{
    padding-top: 32px;
}

.nav-search > input[type="search"]{
    border: none;
}